button.done,
button.undone {
    border-radius: 50%;
}


button.undone {
    color: red;
}

button.done {
    color: #2CBF51;
}

button {
    background: none;
    border: none;

}

hr {
    
}

input {
    margin: 5px;
    padding: 5px;
}