body,
html {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
}

    section#inputs {
        margin: 5px auto;
        padding: 10px;
        display: flex;
        align-items: stretch;
    }

    input#inputTodo {
        flex-grow: 10;
    }

    button.done,
    button.undone {
        border-radius: 50%;
    }


    button.undone {
        color: red;
    }
    section#display {
        margin: 10px;
    }
    ul#todos li {
        list-style: none;
        padding: 5px;
    }

    button.done {
        color: #2CBF51;
    }

    button {
        background: none;
        border: none;

    }

    hr {}

    input {
        margin: 5px;
        padding: 5px;
    }

    span.date {
        float: right;
        font-size: x-small;
        font-weight: thin;
    
    }